body { /* ENTIRE WEBSITE */
    color: #333333;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

/*.navbar-------------------------------------------------------------------*/ 
.navbar {  /* ENTIRE NAVBAR */
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar-brand { /*LOGO ONLY*/
  text-decoration: none;
  font-size: 18px;
  color: #333333;
}

.navbar-nav { /*UL CLASS LIST*/
  list-style: none;
  font-size: 12px;
  font-weight: bold;
}

.nav-item { /*UL CLASS TEXT A*/
  color: #333333;
  text-decoration: none;
}

.navbar-item:hover { /*UL CLASS TEXT A HOVER*/
  text-decoration: none;
  color: chocolate;
}

.highlight { /*HIGHLIGHT COLOR*/
color: chocolate;
}
/*end .navbar-------------------------------------------------------------------*/ 

/* begin background image------------------------------------------------------*/

.container { /*FOR ALL SECTIONS EXCEPT LARGE BACKGROUND IMAGE*/
  text-decoration: none;
}

.img-overlay { /*LARGE BACKGROUND IMAGE*/
  position: absolute;
  text-align: center;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* end background image------------------------------------------------------*/

h1 { /*MED OVERLAY TEXT*/
    font-size: 36px;
    color: white;
    word-wrap: break-word;
    flex-shrink: 2;
}

h2 { /*LARGE OVERLAY TEXT*/
    font-size: 18px;
    color: rgb(189, 189, 189);
}

h3 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    color: #333333;
    text-transform: uppercase;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 5px;
    padding-top: 53px;
}

h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: chocolate;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 24px;
}

h5 {
  font-size: 14px;
  color: chocolate;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 0;
  margin-top: 20px;
}

h6 {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  color: chocolate;
  text-decoration: none;
}

p {
  font-size: 14px;
  color: #333333;
  text-align: left;
}

.bio { /*SET A MARGIN IN THE ABOUT US SECTION*/
  margin-left: 11rem;
}

.figure-caption {
  text-align: center;
}

.icons {
  text-align: center;
}

/*Begin Footer--------------------------------------------------------------*/

.skills-list li {
    font-size: 16px;
    color: #333333;
    text-align: left;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 25px;
    list-style: square;
}

.footer {
  padding: 15px;
  background-color: #333333;
  color: white;
  text-decoration: none;
}

.footer li {
  list-style: none;
  color: gray;
  font-size: 14px;
  text-align: center;
}

.footer li a {
  color: rgb(209, 207, 207);
  font-size: 14px;
  text-decoration: none;
}

.bold {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

/* MEDIA SCREENS-----------------------------------------------------------------*/

/* ANYTHING UNDER 992px */
@media screen and (max-width: 992px) {
  .img-overlay {
    top: 25%
  }
  .bio {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .figure-img {
    text-align: center;
  }
}

/* ANYTHING UNDER 768px */
@media screen and (max-width: 768px) {
.img-overlay {
  top: 20%
}
h1 {
  font-size: 24px;
}
h2 {
  font-size: 14px;
}
.bio {
  margin-left: 8px;
  margin-right: 8px;
}
}

/* ANYTHING UNDER 576px */
@media screen and (max-width: 576px) {
.img-overlay {
  top: 18%
}
h1 {
  font-size: 18px;
}
h2 {
  font-size: 10px;
}
}